@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Victor+Mono:ital,wght@0,100..700;1,100..700&display=swap");

:root {
	--ifm-font-family-base: "Atkinson Hyperlegible Next", "Inter", sans-serif;
	--ifm-heading-font-family: "Karla", sans-serif;
	--bg-default: #f5f5f5;
	--bg-paper: #ffffff;
	--appbar-bg: #960ea5;
	--code-font-family: "Victor Mono", monospace;
}

@media (prefers-color-scheme: dark) {
	:root {
		--bg-default: var(--color-zinc-900);
		--bg-paper: var(--color-zinc-800);
	}
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: var(--ifm-font-family-base);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--ifm-heading-font-family);
}

code {
	font-family: var(--code-font-family);
	font-feature-settings: "calt" 1;
}
