name: Update VPS
on:
  push:
    tags:
      - "*"
  workflow_dispatch:

jobs:
  update_vps:
    runs-on: ubuntu-latest
    steps:
      - name: Connect to vps
        uses: appleboy/ssh-action@v1.2.0
        with:
          host: ${{ secrets.HOST }}
          username: lili
          port: ${{secrets.PORT}}
          key: ${{ secrets.SSH_KEY }}
          script: |
            set PATH $PATH:/home/.local/share/nvm/v20.14.0/bin
            nvm use v20.14.0
            cd dicelette/
            if ! git diff-index --quiet HEAD --; then
              echo "Modifications non validées détectées"
              git stash push --include-untracked --message "Modifications non validées détectées"
            fi
            git pull --rebase
            pnpm i
            pnpm run pm2:restart
